# Ignore everything by default
/*

# But track these
!.gitignore
!wp-content/

# Inside wp-content, ignore everything
wp-content/*

# Except the themes folder
!wp-content/themes/

# Inside themes, ignore everything
wp-content/themes/*

# Except our theme
!wp-content/themes/punchpros-theme/
